.mobile-navigation-wrapper {
  background: burlywood;
}
.mobile-navigation-wrapper ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
.mobile-navigation-wrapper li {
  display: block;
  padding: 0;
  margin: 0;
}
