@import "../../../shared/css/variables";

.desktop-navigation-wrapper {
  background-color: $color-white;
}
.desktop-navigation-tabs-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.desktop-navigation-wrapper .navigation-tabs-item:first-child {
  margin-left: 0;
}

.desktop-navigation-wrapper .navigation-tabs-item:last-child {
  margin-right: 0;
}

.desktop-navigation-tabs-list{
  .navigation-tabs-sub-list{
    position:absolute;
	top:-9999em;
	left:-9999em;
	background-color: $color-light-1;
	padding: 0.75em 1.5em;
	margin:0.75em 0 0 0;
    
  }
  .navigation-tabs-item{
    position:relative;
  }
  .navigation-tabs-item:hover .navigation-tabs-sub-list{
    top:inherit;
	left:inherit;
  }
}