.navigation-logo {
  width: 9rem;
  max-width: 100%;
  vertical-align: bottom;
}
.desktop-navigation-wrapper {
  background-color: gainsboro;
}
.desktop-navigation-tabs-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.desktop-navigation-wrapper .navigation-tabs-item:first-child {
  margin-left: 0;
}

.desktop-navigation-wrapper .navigation-tabs-item:last-child {
  margin-right: 0;
}