$font-family-button:sans-serif;
$font-weight-button:600;
$text-transform-button:none;
$border-radius-button:0.25em;
$color-button-base:Gray;
$color-button-text:white;
$color-button-base-dark:DimGray;
/**/
$color-button-invert-base:GhostWhite;
$color-button-invert-text:DimGray;
$color-button-invert-base-dark:Gainsboro;
/**/
button{
	font:inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	background: none transparent;
	border: none;
	outline: none;
	overflow:visible;
	text-transform:none;
}
.button,
.button:hover,
.button:hover span{
	text-decoration:none;
}
.button{
	font-family:$font-family-button;
	font-weight:$font-weight-button;
	text-transform:$text-transform-button;
	border-radius:$border-radius-button;
	outline:0 none;
	border-style:solid;
	border-width:1px;
	display:inline-block;
	vertical-align:top;
	padding:0.6em 0.8em;
	text-align:center;
	user-select:none;
	text-shadow:none;
	box-shadow:none;
	background-image:none;
	background-color:$color-button-base;
	color: $color-button-text;
	border-color: $color-button-base-dark;
	&:hover{
		text-shadow:none;
		box-shadow:none;
		background-image:none;
		background-color:$color-button-base-dark;
		color:$color-button-text;
		border-color:$color-button-base-dark;
	}
	&:active{
		text-shadow:none;
		box-shadow:none;
		background-image:none;
		background-color: $color-button-base-dark;
		color: $color-button-text;
		border-color: $color-button-base-dark;
	}
	&-active,
	&-active:hover,
	&-active:focus,
	&-active:active{
		text-shadow:none;
		box-shadow:none;
		background-image:none;
		background-color: $color-button-base-dark;
		color: $color-button-text;
		border-color: $color-button-base-dark;
	}
}


.button-secondary{
	text-shadow:none;
	box-shadow:none;
	background-image: none;
	color:$color-button-invert-text;
	background-color:$color-button-invert-base;
	border-color:$color-button-invert-base-dark;
	&:hover{
		text-shadow:none;
		box-shadow:none;
		background-image: none;
		background-color:$color-button-invert-base-dark;
		color:$color-button-invert-text;
		border-color:$color-button-invert-base-dark;
	}
	&:active,
	&:focus{
		text-shadow:none;
		box-shadow:none;
		background-image:none;
		background-color:$color-button-invert-base-dark;
		color:$color-button-invert-text;
		border-color:$color-button-invert-base-dark;
	}
}

.button-delete{
	text-shadow:none;
	box-shadow:none;
	background-image: none;
	color:$color-warning;
	background-color:$color-button-invert-base;
	border-color:$color-warning-dark;
	&:hover{
		text-shadow:none;
		box-shadow:none;
		background-image: none;
		background-color:$color-warning;
		color:$color-button-text;
		border-color:$color-warning-dark;
	}
	&:active,
	&:focus{
		text-shadow:none;
		box-shadow:none;
		background-image:none;
		background-color:$color-warning-dark;
		color:$color-button-text;
		border-color:$color-warning-dark;
	}
}
