@import "../../../shared/css/variables";
.cart-sidebar {
  background-color: $color-light;
  overflow: auto;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 90vw;
  max-width: 45rem;
  height: 100vh;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
  align-items: stretch;
  transition: transform 0.25s ease-out;

  &-header {
    background: $color-light-1;
    border-bottom: 2px solid $color-light-2;
    padding: $leading-0-5 $leading-1;
    text-align: center;
  }
  &-title {
    display: inline-block;
    vertical-align: middle;
    font-family: $font-family-heading;
    font-weight: $font-weight-heading;
    text-transform: $text-transform-heading;
    font-size: $font-size-large-3;
    line-height: $line-height-large-3;
    margin: 0 $leading-0-25;
    padding: $leading-0-5 $leading-0-25;
  }
  &-body {
    display: block;
    overflow: auto;
    flex: 1 1 auto;
  }
  &-footer {
    background: $color-light-1;
    border-top: 2px solid $color-light-2;
    padding: $leading-0-5 $leading-1 $leading-1 $leading-1;
  }
  &-closed{
    transform: translateX(100%);
  }
  &-open{
    transform: translateX(0);
  }
  
}

.cart-sidebar-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}



.cart-sidebar-sum {
  &-list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &-item {
    display: block;
    padding: 0.187em 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.cart-sidebar-total {
  font-weight: bold;
  font-size: 1.25em;
}
.cart-sidebar-total .cart-sidebar-sum-key {
  text-transform: uppercase;
}
.cart-sidebar-nav {
  text-align: center;
  padding: $leading-1 0 0 0;
}
.cart-sidebar-checkout-trigger {
  margin: auto;
}
